// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';


// Global
body {
    background-color: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
    // color: #595959;
}

input, button, select, option, textarea {
    border-radius: 0 !important;
}

button {
    padding: 6px 10px;
    color: white;
    background: #FF9900;
    border-radius: 0;
    border: none;
}

button:hover {
    background: #CC6600;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

hr {
    margin: 0 auto 40px;
    background: #FF9900;
    width: 7%;
    height: 2px;

}

p {
    color: #404040;
}

.container-fluid, .row{
    margin: 0;
    padding: 0;
}

// Header
.info {
    background-color: #333333;
    color: white;
    padding: 10px;
    
}

.align-right {
    text-align: right;
}

.logo {
    background-color: #FF9900;
}

.search {
    background-image: linear-gradient( #FF9900, #ffcc80);
    background: #FF9900;
}

.search-form {
    width: 50%;
    margin: 20px auto;
}

.logo-image {
    display: block;
    width: 25%;
    margin: 0 auto;
}

// Navbar
nav {
    background-color: #F0F0F1;
    text-transform: uppercase;
}

.navbar-nav {
    margin: auto;
}

.nav-link {
    margin: 0 5px;
    color: #595959;
}

.nav-link:hover, .active {
    border-bottom: 2px solid #FF9900;
    color: black;
}

.main {
    padding: 20px 0;
    margin: 20px auto;

}


// Hero 
.hero {
    position: relative;
    border-bottom: 10px solid #FF9900;
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero-image {
    position: relative;

}

.dark-color {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .5;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 8px #101010;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
}

.hero-text h1 {
    font-size: 150px;
    position: relative;
    animation-name: moving-h1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.hero-text h3 {
    position: relative;
    animation-name: moving-h2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    overflow: hidden;

}

@keyframes moving-h1 {
   from {
       left: -50%;
       overflow: hidden;
   }
   to {
        left: 0;
        overflow: hidden;
    }
}

@keyframes moving-h2 {
    from {
        left: 50%;
        overflow: hidden;
    }
    to {
        left: 0;
     }
 }



// Buttons
.btn-primary {
    background-color: #FF9900;
    border: none;
}

.btn-primary:hover {
    background-color: #CC6600;
}

.btn-primary:after {
    background: black;
}


.content {
    margin: 0 0 20px;        
}


.item {
    border-radius: 0;
    padding: 0 0 15px 0;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #f4f4f4;
    transition: box-shadow, .2s;
    color: black;

}

.item:hover {
    box-shadow: 1px 1px 20px 1px lightgray;
}

.item-image {
    border-radius: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(70%);
}


// footer
footer .row .col-md-4 {
    background-color: #333333;
    color: white;
    padding: 30px;
}

footer .row .col-md-4 img {
    display: block;
    width: 80%;
    // height: 100%;
    margin: auto;
}

footer .row .col-12 {
    background-color: #101010;
    color: white;
    text-align: center;
    padding: 10px;
}
