// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

// Global
body {
    background-color: #fafafa;
    font-family: "Montserrat", sans-serif;
    // color: #595959;
}

input,
button,
select,
option,
textarea {
    border-radius: 0 !important;
}

button {
    padding: 6px 10px;
    color: white;
    background: #ff9900;
    border-radius: 0;
    border: none;
}

button:hover {
    background: #cc6600;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

hr {
    margin: 0 auto 40px;
    background: #ff9900;
    width: 100px;
    height: 2px;
}

p {
    color: #404040;
}

.container-fluid,
.row {
    margin: 0;
    padding: 0;
}

// Header
.info {
    background-color: #333333;
    color: white;
    padding: 10px;
}

.align-right {
    text-align: right;
}

.logo {
    background-color: #ff9900;
}

.search {
    background-image: linear-gradient(#ff9900, #ffcc80);
    background: #ff9900;
}

.search-form {
    width: 50%;
    margin: 20px auto;
}

.logo-image {
    display: block;
    width: 30%;
    margin: 0 auto;
}

// Navbar
nav {
    background-color: #f0f0f1;
    text-transform: uppercase;
}

.navbar-nav {
    margin: auto;
}

.nav-link {
    margin: 0 5px;
    color: #595959;
}

.nav-link:hover,
.active {
    border-bottom: 2px solid #ff9900;
    color: black !important;
}

.nav-link.active span {
    background-color: black;
}

.nav-link:hover span {
    background-color: black;
}

.main {
    padding: 20px 0;
    margin: 20px auto;
}

// Hero
.hero {
    position: relative;
    border-bottom: 10px solid #ff9900;
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero-image {
    position: relative;
}

.dark-color {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 8px #101010;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
}

.hero-text h1 {
    font-size: 150px;
    position: relative;
    animation-name: moving-h1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.hero-text h3 {
    position: relative;
    animation-name: moving-h2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    overflow: hidden;
}

@keyframes moving-h1 {
    from {
        left: -50%;
        overflow: hidden;
    }
    to {
        left: 0;
        overflow: hidden;
    }
}

@keyframes moving-h2 {
    from {
        left: 50%;
        overflow: hidden;
    }
    to {
        left: 0;
    }
}

// Buttons
.btn-primary {
    background-color: #ff9900;
    border: none;
    margin: 5px 5px 0 0;
}

.btn-primary:after {
    background: black;
}
.btn-primary:hover {
    background-color: #cc6600;
}

.content {
    margin: 0 0 20px;
    min-height: 426px;
}

.item {
    border-radius: 0;
    padding: 0 0 15px 0;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #f4f4f4;
    transition: box-shadow, 0.2s;
    color: black;
}

.item:hover {
    box-shadow: 1px 1px 20px 1px lightgray;
}

.item-image {
    border-radius: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(70%);
}

// footer

footer {
    width: 100%;
    position: relative;
    bottom: 0;
}
footer .row .col-md-4 {
    background-color: #333333;
    color: white;
    padding: 30px;
}

footer .row .col-md-4 img {
    display: block;
    width: 80%;
    // height: 100%;
    margin: auto;
}

footer .row .col-12 {
    background-color: #101010;
    color: white;
    text-align: center;
    padding: 10px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.yellowText {
    color: #ff9900;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #ff9900;
    border-color: #ff9900;
}

.pagination .page-link {
    color: #212529;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #ff9900;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
